.TODOSearch-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 3.5vh 0 ;
}

.TODOSearch-container input {
  width: 80vw;
  height: 6vh;
  border: 1px solid gray;
  border-radius: 2vw;
  box-shadow: -3px 5px 10px 0px rgba(0, 0, 0, 0.3);
  padding: 0 3vw;
  font-size: 1.3rem;
}